<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta content="; charset=utf-8" />
    <title>Get All Event</title>
  </head>
  <body>
	<a href="/eventobi">Back</a><br/>
	<div class="table">
	<center>  
    <br>
    <table border="1" summary="">
      <tr><th>Nama Event</th><th>Tanggal Event</th><th>Tempat Event</th><th>Host Event</th></tr>
	  {{range .}}
       <tr><td>{{ .NamaEvent }}</td><td>{{ .TanggalEvent }}</td><td>{{ .TempatEvent }}</td><td>{{ .HostEvent }}</td></tr>
      {{ end }}
    </table>
    </center>
    </div>
  </body>
  </html>

